#game-board-table {
    width:600px;
}
#game-board-table td {
    border: 2px solid black;
}
#game-board-table th {
    padding: 2rem;  
    border: 2px solid black;
}

.ok {
    color:lightgreen;
    background-color:black;
}
.too-close {
    color:red;  
    background-color:white;
    font-size:40px;
}
#floatingTextarea2 {
    height: 150px;
    width: 400px;
}
@media only screen and (max-width: 800px) {
    body {
        margin:0;
        padding:0;
    }

    #game-board-table {
        table-layout: fixed;
        width: 100%;

    }
    #floatingTextarea2 {
        width:100%;
        height:100px;
    }
 

}